*, 
*::before, 
*::after {
    box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: white;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $dark;
}


a {
  display: block;
  color: $dark;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

section {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
}

button {
  background-color: $primary;
  border-radius: 0.25rem;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 40px;
  line-height: 1.5rem;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0.75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.1rem;
  min-width: 180px;
  min-height: 60px;
}


input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

select {
  /** for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}