@mixin md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1060px) {
    @content;
  }
}

@mixin karla {
  font-family: "Karla", sans-serif;
}

@mixin markazi {
  font-family: "Markazi Text", serif;
}

@mixin button {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: $primary;
  color: white;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  min-width: 180px;
  min-height: 60px;
}
